
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCaja.cshtml";
}

<main class="col-md-9 zona-central">
    <div class="zona-encabezado mb-3 d-flex flex-wrap gap-3">
        <button class="btn btn-outline-primary active-cuenta"><span>Cuenta </span><span class="badge bg-primary">#4927</span></button>
        <button class="btn btn-outline-primary"><span>Cuenta </span><span class="badge bg-primary">#4928</span></button>
        <button class="btn btn-outline-primary"><span>Cuenta </span><span class="badge bg-primary">#4929</span></button>
        <button class="btn btn-outline-primary"><span>Cuenta </span><span class="badge bg-primary">#4930</span></button>
        <button class="btn btn-outline-primary"><span>Cuenta </span><span class="badge bg-primary">#4931</span></button>
    </div>

    <div class="acciones">
        <button class="btn btn-custom"><i class="bi bi-plus-square"></i> Nueva Cuenta</button>
        <button class="btn btn-custom"><i class="bi bi-chat-left-text"></i> Nota</button>
        <button class="btn btn-custom"><i class="bi bi-plus-slash-minus"></i> Cantidad</button>
        <button class="btn btn-custom"><i class="bi bi-tag"></i> Precio</button>
    </div>

    <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>UND</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Observación</th>
                    <th>Contenido</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="acciones-finales">
        <button class="btn btn-custom"><i class="bi bi-person-lines-fill"></i> Cuenta</button>
        <button class="btn btn-custom"><i class="bi bi-receipt"></i> Comanda</button>
        <button class="btn btn-custom"><i class="bi bi-people"></i> Meseros</button>
        <button class="btn btn-custom"><i class="bi bi-grid-3x3"></i> Mesas</button>
        <button class="btn btn-custom"><i class="bi bi-house-door"></i> Domicilio</button>
    </div>



</main>

