
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container text-center py-5">
    
        <img src="~/Archivos/IMG/Logo.png" alt="Tatacoa" class="img-fluid" style="max-height: 500px">
    
</div>



